<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Atlantis</title>


    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <!-- Custom CSS -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <!--<div class="navbar-header">-->
                <!-- Brand and toggle get grouped for better mobile display -->
            <div style="display: inline-block">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Atlantis</a>
                </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="display: inline-block!important;">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            </div>
        <!--</div>-->
        <!-- /.container -->
        <!-- Top Menu Items -->

            <ul class="nav navbar-right top-nav navbar-nav">
                <li class="dropdown" style="display: inline-block; float: left;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>TestUser</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>TestUser</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>TestUser</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="display: inline-block; float: left;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="display: inline-block; float: left;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>TestUser<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/gdo/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            {% block mainbody %}
            {% endblock %}

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group" id="searchdiv">
                        <input type="text" class="form-control" id="search_content">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="search()" id="search_btn">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well" style="text-align:center">
                    <h4>Atlantis's Blog</h4>
                    <img src="/static/images/users/atlantis.png" alt="" style="width: 118px; height: 120px; margin:0 auto 20px;display: block">
                    <a href="#" class="btn btn-default" >发私信</a>
                    <a href="#" class="btn btn-default" >加友情链接</a>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>最热文章</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled" id="hotart">

                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Atlantis 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
</div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}
    <script>
        //最热文章
        function hotart(count) {
            $.getJSON('/hotart?count='+count, function (res) {
                var html = '';
                $.each(res, function (i, v) {
                    html += '<li><a href="/details?article_id=';
                    html += v.id;
                    html += '">';
                    html += v.title;
                    html += '</a></li>';
                });
                $('#hotart').html(html)
            })
        }
        hotart(5)

        //搜索
        function search() {
            var search_content = $('#search_content').val()
            if (search_content == null || search_content == ''){
                $('#search_content').parent().addClass('has-error');
                return;
            }
            else{
                var search_url = "/search?keyword="+search_content;
                $.getJSON(search_url, function (res) {
                    var html = '';
                    html += '<h1 class="page-header">';
                    html += '搜索结果：';
                    html += '<small></small></h1><div id="article_show"><table class="table table-bordered table-hover ' +
                        'table-striped"><thead><tr><th>主题</th><th>分类</th><th>作者</th><th>创建时间</th></tr></thead>' +
                        '<tbody>';
                    $.each(res, function (i, v) {
                        html += '<tr><td><a href="/details?article_id=';
                        html += v.id;
                        html += '">';
                        html += v.title;
                        html += '</a></td><td>';
                        html += v.label;
                        html += '</td><td>';
                        html += v.author;
                        html += '</td><td>';
                        html += v.create_time;
                        html += '</td>';
                    });
                    html += '</tbody></table>';
                    $('#to_search').html(html)
                })
            }
        }
        $('#search_content').focus(function () {
            $('#search_content').parent().removeClass('has-error');
        })

        $('#search_content').keydown(function (e) {
            if(e.keyCode == 13){
                search()
            }
        })
    </script>

</body>

</html>
